.navBarButton {
  background-color: #202452;
  border-radius: 8px !important;
  transition: background-color 0.3s ease;
}

.navBarButton:hover {
  background-color: #242d93;
}

.widgetContainer {
  border: 1px solid #666666 !important;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

 .windowBody {
  border: 0px solid #b5b5b5 !important;
 }  

 .widgetContainer + div {
  display: none;
}

.OBToolbarIconButton_icon_etcop {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../../web/images/copilot-toolbar.png) !important;
}